<table>
  <thead>
    <tr>
      <th>Repo</th>
      <th>Default branch</th>
      <th>Fork?</th>
      <th>Can change?</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'repo', collection: repos, as: :repo) %>
  </tbody>
</table>

<p>
  <%= link_to_unless(repos.first_page?, "Previous", repos_path(page: repos.previous_page)) %>
  <%= link_to_unless(repos.last_page?, "Next", repos_path(page: repos.next_page)) %>
</p>

<% if repos.empty? %>
  <p>No repos to see here.</p>
<% end %>
