<div class='u-flex u-flexJustifyCenter'>
  <%= image_tag('branch.png', alt: 'git branch', width: '144px', height: '144px') %>
</div>
<div class='u-flex u-flexJustifyCenter sc-p-v--m'>
  <%= link_to 'Sign in with GitHub', user_github_omniauth_authorize_path, class:"u-linkAsButton" %>
</div>
